Repository ueberdosis/tiptap, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bdbch, @svenadlung, @philipisik

.github/CODEOWNERS:

# Global
* @bdbch @svenadlung

# docs
/docs/ @svenadlung

# demos
/demos/ @bdbch

# LICENSE
LICENSE.md @philipisik

fix autolinking on pasting text
  demos/src/Marks/Link/Vue/index.spec.js
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

remove broken link
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

fix react link test
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

fix youtube node typo in docs (#4740)
  docs/api/nodes/youtube.md
Owners: @svenadlung

updates cloud docs
  docs/cloud.md
Owners: @svenadlung

extract dependencies to menus
  package-lock.json
  packages/react-bubble-menu/CHANGELOG.md
  packages/react-bubble-menu/README.md
  packages/react-bubble-menu/package.json
  packages/react-bubble-menu/rollup.config.js
  packages/react-bubble-menu/src/BubbleMenu.tsx
  packages/react-bubble-menu/src/index.ts
  packages/react-floating-menu/CHANGELOG.md
  packages/react-floating-menu/README.md
  packages/react-floating-menu/package.json
  packages/react-floating-menu/rollup.config.js
  packages/react-floating-menu/src/FloatingMenu.tsx
  packages/react-floating-menu/src/index.ts
  packages/react/src/index.ts
Owners: @bdbch, @svenadlung

fix savvy test
  demos/src/Examples/Savvy/React/index.spec.js
  demos/src/Examples/Savvy/Vue/index.spec.js
Owners: @bdbch

Fix/link pasting (#4700)
  demos/src/Examples/Savvy/React/index.spec.js
  demos/src/Examples/Savvy/Vue/index.spec.js
  demos/src/Marks/Link/React/index.jsx
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
  packages/core/src/PasteRule.ts
  packages/core/src/helpers/getMarksBetween.ts
  packages/extension-link/src/helpers/pasteHandler.ts
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

Remove pin on y-prosemirror due to an issue in that version that makes yjs and ProseMirror to lose sync.
  demos/package.json
  package-lock.json
  packages/extension-collaboration-cursor/package.json
  packages/extension-collaboration/package.json
Owners: @bdbch, @svenadlung

fix(link): fix tests
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

update package-lock
  package-lock.json
Owners: @bdbch, @svenadlung

Revert "update package-lock"
  package-lock.json
Owners: @bdbch, @svenadlung

Add cross-iframe JS support to mention extension
  packages/extension-mention/src/mention.ts
Owners: @bdbch, @svenadlung

feature: nodepos (#4701)
  demos/package.json
  docs/api/nodepos.md
  docs/links.yaml
  package-lock.json
  packages/core/src/Editor.ts
  packages/core/src/NodePos.ts
  packages/core/src/index.ts
  packages/extension-table/src/index.ts
Owners: @bdbch, @svenadlung

fix(core): fix insertContentAt keeping new lines in html content (#4465)
  demos/src/Issues/2720/React/index.html
  demos/src/Issues/2720/React/index.jsx
  demos/src/Issues/2720/React/index.spec.js
  demos/src/Issues/2720/React/styles.scss
  packages/core/src/helpers/createNodeFromContent.ts
Owners: @bdbch, @svenadlung

fixes tests in marks/link
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

cloud docs
  docs/cloud.md
Owners: @svenadlung

Revert "fix(extension-link): fix link not being kept when pasting url with link (#3975)"
  package-lock.json
  packages/extension-collaboration-cursor/package.json
  packages/extension-collaboration/package.json
Owners: @bdbch, @svenadlung

docs: Tiptap AI
  docs/links.yaml
Owners: @svenadlung

docs: fix link
  docs/links.yaml
Owners: @svenadlung

fix(core): fix new lines being added via elementFromString
  demos/src/Issues/2720/React/index.spec.js
  packages/core/src/helpers/createNodeFromContent.ts
  packages/core/src/utilities/elementFromString.ts
Owners: @bdbch, @svenadlung

fix(core): fix new lines being added via elementFromString (#4767)
  demos/src/Issues/2720/React/index.spec.js
  packages/core/src/helpers/createNodeFromContent.ts
  packages/core/src/utilities/elementFromString.ts
Owners: @bdbch, @svenadlung

fix(core): fix new lines being added via elementFromString (#4767)
  demos/src/Issues/2720/React/index.spec.js
  packages/core/src/helpers/createNodeFromContent.ts
  packages/core/src/utilities/elementFromString.ts
Owners: @bdbch, @svenadlung

fix(suggestion): unused parameter oldState in apply.
  packages/suggestion/src/suggestion.ts
Owners: @bdbch, @svenadlung

fix(suggestion): typescript build error in suggestion package
  packages/suggestion/src/suggestion.ts
Owners: @bdbch, @svenadlung

fix(collaboration): fix typing issues
  packages/extension-collaboration/src/collaboration.ts
Owners: @bdbch, @svenadlung

use textContent if text is undefined for suggestion matching
  packages/suggestion/src/findSuggestionMatch.ts
Owners: @bdbch, @svenadlung

docs/cloud: take, skip parameters for listDocuments call
  docs/cloud.md
Owners: @svenadlung

fix: only start at block with removing if not an inline node
  packages/core/src/inputRules/nodeInputRule.ts
Owners: @bdbch, @svenadlung

prepare the use of sandpack
  demos/package.json
  demos/preview/Demo.vue
  package-lock.json
Owners: @bdbch, @svenadlung

make React demo `Commands/Cut work
  demos/preview/Demo.vue
Owners: @bdbch

Try pro extension
  demos/preview/Demo.vue
Owners: @bdbch

Try teamid from url
  demos/preview/Demo.vue
Owners: @bdbch
