Repository ueberdosis/tiptap, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bdbch, @svenadlung, @philipisik

.github/CODEOWNERS:

# Global
* @bdbch @svenadlung

# docs
/docs/ @svenadlung

# demos
/demos/ @bdbch

# LICENSE
LICENSE.md @philipisik

adds to ClickHandlerOptions type
  packages/extension-link/src/helpers/clickHandler.ts
Owners: @bdbch, @svenadlung

fix(link): restore pasteHandler and add existing url check
  packages/extension-link/src/helpers/pasteHandler.ts
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

make pasteEvent optional
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

fix(link): restore pasteHandler and add existing url check (#4523)
  packages/extension-link/src/helpers/pasteHandler.ts
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

fix clipboard is undefined issue
  packages/extension-link/src/helpers/pasteHandler.ts
Owners: @bdbch, @svenadlung

Pass onFirstRender option to ySyncPlugin
  packages/extension-collaboration/src/collaboration.ts
Owners: @bdbch, @svenadlung

docs: add information about transaction mapping in chains
  docs/api/commands.md
Owners: @svenadlung

change wildly to widely
  docs/guide/output.md
Owners: @svenadlung

Fix unexpected token in index.js (Rollup)
  packages/core/src/commands/joinItemBackward.ts
Owners: @bdbch, @svenadlung

Fix esm.sh url
  docs/installation/cdn.md
Owners: @svenadlung

docs(cdn): fix esm.sh url (#4549)
  docs/installation/cdn.md
Owners: @svenadlung

collab / cloud: adds documentation about the PATCH call
  docs/cloud.md
Owners: @svenadlung

Update cloud.md
  docs/cloud.md
Owners: @svenadlung

adds API call to GET a list of all available documents
  docs/cloud.md
Owners: @svenadlung

feat(suggestion): add option to allow triggering chars to also be in suggestions
  docs/api/utilities/suggestion.md
  packages/suggestion/src/findSuggestionMatch.ts
  packages/suggestion/src/suggestion.ts
Owners: @svenadlung, @bdbch

Fix: resizable table min width
  demos/src/Nodes/Table/React/index.spec.js
  demos/src/Nodes/Table/Vue/index.spec.js
  packages/extension-table/src/table.ts
Owners: @bdbch, @svenadlung

Youtube base URL no longer matches youtube node
  demos/src/Nodes/Youtube/React/index.jsx
  demos/src/Nodes/Youtube/React/index.spec.js
  demos/src/Nodes/Youtube/Vue/index.spec.js
  packages/extension-youtube/src/utils.ts
Owners: @bdbch, @svenadlung

fix(extension/link) Fix wrong URLs applied when pasting more than one
  packages/core/src/pasteRules/markPasteRule.ts
Owners: @bdbch, @svenadlung

Fix: Upgrade lowlight to 3.1.0 and update demo (CodeBlockLowlight)
  demos/package.json
  demos/src/Nodes/CodeBlockLowlight/React/index.jsx
  package-lock.json
Owners: @bdbch, @svenadlung

add docs for contentDOMElementTag
  docs/guide/node-views/react.md
Owners: @svenadlung

Fix: styles being duplicated on mergeAttributes function
  packages/core/src/utilities/mergeAttributes.ts
Owners: @bdbch, @svenadlung

update: Changed merge logic to keep the incoming value instead of the previous one
  packages/core/src/utilities/mergeAttributes.ts
Owners: @bdbch, @svenadlung

docs/collab: adds note about axios, adds documentation on how to duplicate a document
  docs/cloud.md
Owners: @svenadlung

docs/collab: adds note about axios, adds documentation on how to duplicate a document
  docs/cloud.md
Owners: @svenadlung

adds API call to GET a list of all available documents
  docs/cloud.md
Owners: @svenadlung

Update cloud.md
  docs/cloud.md
Owners: @svenadlung

collab / cloud: adds documentation about the PATCH call
  docs/cloud.md
Owners: @svenadlung

replace "xxx" by "YOUR_APP_ID"
  docs/cloud.md
Owners: @svenadlung

Update package.json
  packages/extension-collaboration/package.json
Owners: @bdbch, @svenadlung

Update y-prosemirror to use the latest version in package.json
  packages/extension-collaboration-cursor/package.json
Owners: @bdbch, @svenadlung

Merge pull request #4536 from hkuffel/develop
  docs/guide/output.md
Owners: @svenadlung

Merge pull request #4366 from y0ngdev/y0ngdev-patch-2
  docs/installation/nuxt.md
Owners: @svenadlung

fixes tests in marks/link
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

fix
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

Added CSS.escape to font-family.ts
  packages/extension-font-family/src/font-family.ts
Owners: @bdbch, @svenadlung

Bump minor version of zeed-dom to include html parser bugfix
  package-lock.json
  packages/html/package.json
Owners: @bdbch, @svenadlung

fixes typing issue
  packages/extension-collaboration/src/collaboration.ts
Owners: @bdbch, @svenadlung

chore: upgrades y-prosemirror to ^1.2.1. It used to be locked to 1.0.20 because of a bug, but that got fixed in 1.1.3
  package-lock.json
  packages/extension-collaboration-cursor/package.json
  packages/extension-collaboration/package.json
Owners: @bdbch, @svenadlung

Added CSS.escape to font-family.ts per font-family name.
  packages/extension-font-family/src/font-family.ts
Owners: @bdbch, @svenadlung

fix: allowing 'ref' access for 'EditorContent' in react
  packages/react/src/EditorContent.tsx
Owners: @bdbch, @svenadlung
