Repository ueberdosis/tiptap, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bdbch, @svenadlung, @philipisik

fix(react): fix performance regression because of select/deselect
  packages/react/src/ReactNodeViewRenderer.tsx
Owners: @bdbch, @svenadlung

fix(react): fix performance regression because of select/deselect (#4661)
  packages/react/src/ReactNodeViewRenderer.tsx
Owners: @bdbch, @svenadlung

Add and fix tests
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

Fix tests
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

Added allow callback into documentation
  docs/api/utilities/suggestion.md
Owners: @svenadlung

update URL to Tiptap Cloud
  docs/cloud.md
  docs/tutorials/get-started-with-tiptap-collab.md
Owners: @svenadlung

Update alpine.md with better info about proxy limitations
  docs/installation/alpine.md
Owners: @svenadlung

remove auto assignees
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report_pro.yml
  .github/ISSUE_TEMPLATE/documentation.yml
Owners: @bdbch, @svenadlung

fix(typography): require spaces after divisions to not break date formats
  demos/src/Extensions/Typography/React/index.spec.js
  packages/extension-typography/src/typography.ts
Owners: @bdbch, @svenadlung

fix(typography): require spaces after divisions to not break date formats (#4696)
  demos/src/Extensions/Typography/React/index.spec.js
  packages/extension-typography/src/typography.ts
Owners: @bdbch, @svenadlung

Update alpine.md with better info about proxy limitations (#4678)
  docs/installation/alpine.md
Owners: @svenadlung

Update alpine.md with better info about proxy limitations (#4678)
  docs/installation/alpine.md
Owners: @svenadlung

revert link paste handling to behavior before
  packages/core/src/helpers/getMarksBetween.ts
  packages/extension-link/src/helpers/autolink.ts
  packages/extension-link/src/helpers/pasteHandler.ts
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

fix(link): fix linking while typing
  demos/src/Marks/Link/React/index.jsx
  demos/src/Marks/Link/React/index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
  packages/core/src/PasteRule.ts
  packages/extension-link/src/helpers/autolink.ts
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

start writing docs for nodepos
  demos/package.json
  docs/api/nodepos.md
  package-lock.json
  packages/core/src/Editor.ts
  packages/core/src/NodePos.ts
  packages/core/src/index.ts
Owners: @bdbch, @svenadlung

added nodepos docs
  docs/api/nodepos.md
Owners: @svenadlung

added to links
  docs/links.yaml
Owners: @svenadlung

fix: make all link marks non-inclusive
  packages/extension-link/src/link.ts
Owners: @bdbch, @svenadlung

Update README.md
  README.md
Owners: @bdbch, @svenadlung

chore(pm): update all prosemirror package dependencies
  package-lock.json
  packages/pm/package.json
Owners: @bdbch, @svenadlung

rchore(core): remove filterTransaction from state
  packages/core/src/helpers/createChainableState.ts
Owners: @bdbch, @svenadlung

fix(demo): fix typings in vue demo
  demos/src/Experiments/CollaborationAnnotation/Vue/extension/AnnotationPlugin.ts
Owners: @bdbch

feat(core): add missing prosemirror commands for joining textblocks
  packages/core/src/commands/index.ts
  packages/core/src/commands/joinTextblockBackward.ts
  packages/core/src/commands/joinTextblockForward.ts
Owners: @bdbch, @svenadlung

adoc: added documentation for missing commands
  docs/api/commands/join-textblock-backward.md
  docs/api/commands/join-textblock-forward.md
Owners: @svenadlung

code-block: on arrow down move to next node
  packages/extension-code-block/src/code-block.ts
Owners: @bdbch, @svenadlung

Update index.spec.js
  demos/src/Marks/Link/Vue/index.spec.js
Owners: @bdbch

Update index.spec.js
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

Update index.spec.js
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

Update index.spec.js
  demos/src/Marks/Link/React/index.spec.js
Owners: @bdbch

Close #3826 bump prosemirror-view version
  packages/pm/package.json
Owners: @bdbch, @svenadlung

Export createColGroup utility function
  packages/extension-table/src/index.ts
Owners: @bdbch, @svenadlung

update docsearch
  docsearch.config.json
Owners: @bdbch, @svenadlung

Export createColGroup utility function (#4737)
  packages/extension-table/src/index.ts
Owners: @bdbch, @svenadlung

Forward `EditorContent` ref (#4396)
  packages/react/src/EditorContent.tsx
Owners: @bdbch, @svenadlung

chore(pm): update all prosemirror package dependencies (#4714)
  demos/src/Experiments/CollaborationAnnotation/Vue/extension/AnnotationPlugin.ts
  docs/api/commands/join-textblock-backward.md
  docs/api/commands/join-textblock-forward.md
  package-lock.json
  packages/core/src/commands/index.ts
  packages/core/src/commands/joinTextblockBackward.ts
  packages/core/src/commands/joinTextblockForward.ts
  packages/core/src/helpers/createChainableState.ts
  packages/pm/package.json
Owners: @bdbch, @svenadlung

add validate support for autolinking back
  packages/extension-link/src/helpers/autolink.ts
Owners: @bdbch, @svenadlung

fix youtube node typo in docs
  docs/api/nodes/youtube.md
Owners: @svenadlung

split test run into seperate script
  package.json
Owners: @bdbch, @svenadlung

split test run into seperate script
  package.json
Owners: @bdbch, @svenadlung

revert autolink behaviour
  packages/extension-link/src/helpers/autolink.ts
Owners: @bdbch, @svenadlung

.github/CODEOWNERS:

# Global
* @bdbch @svenadlung

# docs
/docs/ @svenadlung

# demos
/demos/ @bdbch

# LICENSE
LICENSE.md @philipisik
