Repository ueberdosis/tiptap, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bdbch, @svenadlung, @philipisik

.github/CODEOWNERS:

# Global
* @bdbch @svenadlung

# docs
/docs/ @svenadlung

# demos
/demos/ @bdbch

# LICENSE
LICENSE.md @philipisik

fix: allowing 'ref' access for 'EditorContent' in react
  packages/react/src/EditorContent.tsx
Owners: @bdbch, @svenadlung

using React.ForwardedRef insted of React.RefObject
  packages/react/src/EditorContent.tsx
Owners: @bdbch, @svenadlung

Update docs
  docs/api/utilities/suggestion.md
Owners: @svenadlung

allow users to pass a custom findSuggestionMatch
  packages/suggestion/src/suggestion.ts
Owners: @bdbch, @svenadlung

Add the error emiting
  packages/core/src/Editor.ts
  packages/core/src/helpers/createNodeFromContent.ts
  packages/core/src/types.ts
Owners: @bdbch, @svenadlung

Emit an error when content is invalid
  .vscode/settings.json
  packages/core/src/Editor.ts
  packages/core/src/commands/setContent.ts
  packages/core/src/helpers/createDocument.ts
  packages/core/src/helpers/createNodeFromContent.ts
  packages/core/src/types.ts
  tests/cypress/integration/core/throwError.spec.ts
Owners: @bdbch, @svenadlung

Add check for setcontent
  packages/core/src/commands/setContent.ts
  packages/core/src/helpers/createDocument.ts
  packages/core/src/helpers/createNodeFromContent.ts
  tests/cypress/integration/core/throwError.spec.ts
Owners: @bdbch, @svenadlung

Rename test file
  tests/cypress/integration/core/emitError.spec.ts
Owners: @bdbch, @svenadlung

Fix vscode override
  .vscode/settings.json
Owners: @bdbch, @svenadlung

Fix vscode override
  .vscode/settings.json
Owners: @bdbch, @svenadlung

Removing some lints
  packages/core/src/Editor.ts
Owners: @bdbch, @svenadlung

chore: remove buttons from demo
  demos/src/Issues/2720/React/index.jsx
Owners: @bdbch

fix(core): fix insertContentAt keeping new lines in html content
  demos/src/Issues/2720/React/index.html
  demos/src/Issues/2720/React/index.jsx
  demos/src/Issues/2720/React/index.spec.js
  demos/src/Issues/2720/React/styles.scss
  packages/core/src/commands/insertContentAt.ts
  packages/core/src/helpers/createNodeFromContent.ts
Owners: @bdbch, @svenadlung

test(core): add tests
  demos/src/Issues/2720/React/index.jsx
  demos/src/Issues/2720/React/index.spec.js
Owners: @bdbch

fix(core): fix replacement on multiple breaks
  demos/src/Issues/2720/React/index.jsx
  demos/src/Issues/2720/React/index.spec.js
  packages/core/src/helpers/createNodeFromContent.ts
Owners: @bdbch, @svenadlung

chore: remove stray console.log
  packages/core/src/commands/insertContentAt.ts
Owners: @bdbch, @svenadlung

fix(extension-youtube) XSS risk with src tag
  packages/extension-youtube/src/utils.ts
  tests/cypress/integration/extensions/youtube.spec.ts
Owners: @bdbch, @svenadlung

fix(extension-youtube) change regex to disallow non-youtube domains
  packages/extension-youtube/src/utils.ts
  tests/cypress/integration/extensions/youtube.spec.ts
Owners: @bdbch, @svenadlung

fix(extension-youtube) Add fix for link too
  packages/extension-link/src/link.ts
  tests/cypress/integration/extensions/link.spec.ts
Owners: @bdbch, @svenadlung

fix(extension-youtube) fix lint
  tests/cypress/integration/extensions/youtube.spec.ts
Owners: @bdbch, @svenadlung

replaced youtube regex with regex found on https://regexr.com/3dj5t, fixes #4560
  packages/extension-youtube/src/utils.ts
Owners: @bdbch, @svenadlung

replaced youtube regex with regex found on https://regexr.com/3dj5t, fixes #4560
  packages/extension-youtube/src/utils.ts
Owners: @bdbch, @svenadlung

adds support for music. subdomain
  packages/extension-youtube/src/utils.ts
Owners: @bdbch, @svenadlung

autolink improvement
  packages/extension-link/src/helpers/autolink.ts
Owners: @bdbch, @svenadlung

link click handler fixed
  demos/src/Marks/Link/React/index.jsx
  packages/extension-link/src/helpers/clickHandler.ts
Owners: @bdbch, @svenadlung

fixes typo
  demos/src/Marks/Link/React/index.jsx
Owners: @bdbch

Revert "autolink improvement"
  packages/extension-link/src/helpers/autolink.ts
Owners: @bdbch, @svenadlung

Make `img.ProseMirror-separator` 0px
  packages/core/src/style.ts
Owners: @bdbch, @svenadlung

poc, untested, works in onUpdate handler
  packages/core/src/Editor.ts
Owners: @bdbch, @svenadlung

warn if user is using the deprecated renderLabel
  packages/extension-mention/src/mention.ts
Owners: @bdbch, @svenadlung

update docs
  docs/api/nodes/mention.md
Owners: @svenadlung

Allow the mention extension to have custom renderHTML
  packages/extension-mention/src/mention.ts
Owners: @bdbch, @svenadlung

fix an issue of duplicate span elements
  packages/extension-mention/src/mention.ts
Owners: @bdbch, @svenadlung

fix/react-renderer-node-attrs (#4321)
  packages/react/src/ReactNodeViewRenderer.tsx
Owners: @bdbch, @svenadlung

extension-focus: trigger focus on selected elements
  packages/extension-focus/src/focus.ts
Owners: @bdbch, @svenadlung

Revert "fix/react-renderer-node-attrs (#4321)"
  packages/react/src/ReactNodeViewRenderer.tsx
Owners: @bdbch, @svenadlung

Update selected props only needed
  packages/react/src/ReactNodeViewRenderer.tsx
Owners: @bdbch, @svenadlung

fix(core): set defaultOptions to undefined by default
  packages/core/src/Extension.ts
  packages/core/src/Mark.ts
  packages/core/src/Node.ts
Owners: @bdbch, @svenadlung

Add details list extension
  .vscode/settings.json
  packages/extension-detail-list/src/details-list.ts
  packages/extension-detail-list/src/detailsListHelpers/deleteDetailsItem.ts
  packages/extension-detail-list/src/detailsListHelpers/exitDetailsItem.ts
  packages/extension-detail-list/src/detailsListHelpers/index.ts
  packages/extension-detail-list/src/detailsListHelpers/insertNewDetailsList.ts
  packages/extension-detail-list/src/detailsListHelpers/isInsideContent.ts
  packages/extension-detail-list/src/detailsListHelpers/isInsideSummary.ts
  packages/extension-detail-list/src/detailsListHelpers/moveNodeIntoContent.ts
  packages/extension-detail-list/src/detailsListHelpers/nodeIsEmpty.ts
  packages/extension-detail-list/src/detailsListHelpers/nodePosition.ts
  packages/extension-detail-list/src/detailsListHelpers/type.ts
  packages/extension-detail-list/src/index.ts
Owners: @bdbch, @svenadlung

fix(core): fix options now being empty
  packages/core/src/Extension.ts
  packages/core/src/Mark.ts
  packages/core/src/Node.ts
Owners: @bdbch, @svenadlung
